<!-- render succes page once form has been completed -->
<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2>Data Successfully Entered!</h2>
    </div>
</main>

<%- include('../partials/footer') %>